input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  height: 10em;
}

.form {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.errorField {
  border: 2px solid red;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  justify-content:left;
  text-align: left;
}

.submitButton {
  cursor: pointer;
}