.social-button {
    height: 2em;
    width: 2em;
}


body {
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier';
    height: 100%;
    font-size: 1em;
}

#portrait {
    width: 150px;
    border-radius: 100%;
}

main>* {
    max-width: 19em;
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    height: 10em;
}